@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 1rem; /* Default font size */
  --font-h1: 2.5rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-h6: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Add dark mode specific styles here if needed */
  }
}

/* Custom Shape Divider */
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-base);

}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}


h1 { font-size: var(--font-h1); }
h2 { font-size: var(--font-h2); }
h3 { font-size: var(--font-h3); }
h4 { font-size: var(--font-h4); }
h5 { font-size: var(--font-h5); }
h6 { font-size: var(--font-h6); }

/* Responsive Typography */
@media (max-width: 640px) { /* Mobile */
  :root {
    --font-base: 0.875rem;
    --font-h1: 2rem;
    --font-h2: 1.75rem;
    --font-h3: 1.5rem;
    --font-h4: 1.25rem;
    --font-h5: 1.125rem;
    --font-h6: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1024px) { /* Tablet */
  :root {
    --font-base: 1rem;
    --font-h1: 2.25rem;
    --font-h2: 2rem;
    --font-h3: 1.75rem;
    --font-h4: 1.5rem;
    --font-h5: 1.25rem;
    --font-h6: 1.125rem;
  }
}

@media (min-width: 1025px) { /* Desktop */
  :root {
    --font-base: 1rem;
    --font-h1: 2.5rem;
    --font-h2: 2.25rem;
    --font-h3: 2rem;
    --font-h4: 1.75rem;
    --font-h5: 1.5rem;
    --font-h6: 1.25rem;
  }
}


/* Custom Shape Divider */






.custom-shape-divider-top-1730623775 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
}

.custom-shape-divider-top-1730623775 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 0px;
}

.custom-shape-divider-top-1730623775 .shape-fill {
  fill: #FFFFFF;
}


.custom-shape-divider-bottom-1730628643 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  height: 100px;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730628643 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 172px;
}

.custom-shape-divider-bottom-1730628643 .shape-fill {
  fill: #FFFFFF;
}


.containerAbout {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #3498db,
    #2ecc71
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: hidden;
}

.containerAbout::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}


.spikes {
  position: relative;
  background: #14b8a6;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top:0;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}


.permanent-marker-regular {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}

.stackDown{
  z-index: -1 !important;
}


